.contact {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #979797;
  padding: 0;
  margin: 0;
}

.contact-links {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.contact-links a {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: #333;
  font-size: 1.2rem;
  transition: color 0.3s;
}

.contact-links a:hover {
  color: #2563eb;
}
