.header {
    background-color: #1f2937;
    color: rgb(246, 12, 12) ;
    padding: 1rem;
    width: 40px;
    top: 0;
    z-index: 50;
    position:fixed;
  }

  .elementosHeader {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0;
}
  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .nav ul {
    display: flex;
    gap: 1rem;
  }
  
  .nav a {
    color: white;
    transition: color 0.3s;
  }
  
  .nav a:hover {
    color: #9ca3af;
  }
  